GF_URL=https://grafana.xxxx.com
GF_USER=admin
GF_PASSWORD=xxxx
GF_API_KEY=xxxx


CHROME_DEBUG=True
CHROME_BIN=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome
CHROME_DRIVER=/opt/homebrew/bin/chromedriver

EMAIL_USER=xxx@xxx.com
EMAIL_PASSWORD=xxxxx
SMTP_SERVER=smtp.qq.com
SMTP_SSL_PORT=465
MAIL_RECEIVERS=1@qq.com,2@qq.com


